html{
    font-size:62.5%;
    height:100%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    width:100%;
    height: 100%;
    font-family:Arial, "Helvetica", sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38d4e2+0,29e54b+100 */
    color: #161717;
}
a{
    text-decoration:none;
    
}
#wrapper{
    height:100%;
    background: #F5D45A;
}
#wrapper_inner{
    width:1024px;
    margin:0 auto;
}

/* login.html */
.character{
    text-align: center;
    padding:20px 0 0 0;
}
h1{
    color:#016E97;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom:30px;
    font-family: 'Modak', cursive;
}
h2{
    display:block;
    color:#9F4198;
    font-size:2.5rem;
    margin-bottom:5px;
}
.form{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.form>*{
    width:30%;
    margin:0 auto;
    text-align: center;
    margin-bottom:10px;
}
.form input,.form button{
    width:100%;
}
.form input{
    background: #F5D45A;
    border:2px solid #016E97;
    color:#016E97;
    padding:10px;
    margin-bottom: 10px;   
    font-size:2rem;
}
.form button{
    display: block;
    width:108%;
    padding:10px;
    text-align: center;
    font-size:2rem;
    border:none;
    background-color:#016E97;
    font-weight:bold;
    color:#F5D45A;
    margin-bottom:10px;
}
#forget_password{
    font-size:2rem;
    color: #161717;
    text-decoration:underline;
}

/* map.html */

.map{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.map_overview{
    width:65%;
    background: url("./images/map_overview.jpg") no-repeat;
}
.description{
    padding:3%;
    width:25%;
}
#logo{
    margin:0 auto;
}
#logo img{
    display:inline-block;
    margin:0 auto;
}

#challenges{
    position:relative;
}

#challenges li{
    display:inline-block;
    /* position:absolute; */
}
#challenges li a{
    display:block;
    width:100%;
}
