html{
    font-size:62.5%;
    height:100%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    width:100%;
    height: 100%;
    font-family:Arial, "Helvetica", sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38d4e2+0,29e54b+100 */
    color: #161717;
}
a{
    text-decoration:none;
    
}
#wrapper{
    height:100%;
    background: #F5D45A;
}
#wrapper_inner{
    width:1200px;
    margin:0 auto;
}

/* login.html */
.character{
    text-align: center;
    padding:20px 0 0 0;
}
h1{
    color:#016E97;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom:30px;
    font-family: 'Modak', cursive;
}
h2{
    display:block;
    color:#9F4198;
    font-size:2.5rem;
    margin-bottom:5px;
}
.form{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.form>*{
    width:30%;
    margin:0 auto;
    text-align: center;
    margin-bottom:10px;
}
.form input,.form button{
    width:100%;
}
.form input{
    background: #F5D45A;
    border:2px solid #016E97;
    color:#016E97;
    padding:10px;
    margin-bottom: 10px;   
    font-size:2rem;
}
.form button{
    display: block;
    width:108%;
    padding:10px;
    text-align: center;
    font-size:2rem;
    border:none;
    background-color:#016E97;
    font-weight:bold;
    color:#F5D45A;
    margin-bottom:10px;
}
#forget_password{
    font-size:2rem;
    color: #161717;
    text-decoration:underline;
}

/* map.html */

.map{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position:relative;
}

.map_overview{
    width:65%;
    position: relative;
}

.map_bg img{
    width:100%;
    position:absolute;
}
.description{
    width: 27%;
    position: absolute;
    right: 0;
    top: 155px;
    color:#9F4198;
}
.description p{
    font-size:1.8rem;
}
h3{
    font-size:2.6rem;
    margin-bottom:30px;
}
input[type="submit"]{
    background-color: #9F4198;
    display: block;
    width: 150px;
    margin: 20px auto 0;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
}
#logo{
    margin:0 auto;
}
#logo img{
    display:inline-block;
    margin:0 auto;
}

#challenges{
    position:relative;
}
.desc_bg{
    position:absolute;
}
#d1,#d2{
    position: absolute;
    font-size: 3rem;
    height: 49px;
    width: 53px;
    text-align: center;
    border-radius: 50%;
    border: 4px solid #9F4098;
    color: #9F4098;
    background-color: #fff;
    z-index: 999;
    padding-top: 5px;
}
#d1 a,#d2 a{
    color: #9F4098;
}
#d1{
    top: 253px;
    left: 27px;
}
#d2{
    top: 338px;
    left: 25px;
}

#challenges li{
    display:inline-block;
    /* position:absolute; */
}
#challenges li a{
    display:block;
    width:100%;
}
