<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>30 Days for climate change</title>
    <link rel="stylesheet" type="text/css" href="./static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">

</head>



<body>
    <div id="wrapper">
        <div id="wrapper_inner">
            <p class="character"><img src="./static/images/character.png" alt=""></p>
            <h1>30 Days for Climate Change</h1>
            <div class="form">

                <form action="./login" method="POST" id="form_login">
                    <h2>Login your account</h2>
                    <input type="e-mail" name="email" placeholder="Enter Email" ">
                    <input type=" password" name="password" placeholder="Enter password">
                    <button type="submit">Sign In</button>
                    <a href="#" id="forget_password">Forget password</a>
                </form>
                <form action="./register" method="POST" id="form_login">
                    <h2>Setup a new account</h2>
                    <input type="username" name="username" placeholder="Choose an Username">
                    <input type="e-mail" name="email" placeholder="Enter Email">
                    <input type="password" name="password" placeholder="Set up password">
                    <input type="password" name="confirm" placeholder="Re-enter password">
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>


</html>