<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>30 Days for climate change</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">

</head>

<body>


<div id="wrapper">
    <div id="wrapper_inner" class="map">
        <p class="map_bg"><img src="../static/images/map_bg.png" alt=""></p>
        <div class="map_overview">

            <ul id="challenges">
                <li id="d1"><a href="../day/1">1</a></li>
                <li id="d2"><a href="../day/2">2</a></li>
                <!-- <li><a href="#">Day<br>3</a></li>
                <li><a href="#">Day<br>4</a></li>
                <li><a href="#">Day<br>5</a></li>
                <li><a href="#">Day<br>6</a></li>
                <li><a href="#">Day<br>7</a></li>
                <li><a href="#">Day<br>8</a></li>
                <li><a href="#">Day<br>9</a></li>
                <li><a href="#">Day<br>10</a></li>
                <li><a href="#">Day<br>11</a></li>
                <li><a href="#">Day<br>12</a></li>
                <li><a href="#">Day<br>13</a></li>
                <li><a href="#">Day<br>14</a></li>
                <li><a href="#">Day<br>15</a></li>
                <li><a href="#">Day<br>16</a></li>
                <li><a href="#">Day<br>17</a></li>
                <li><a href="#">Day<br>18</a></li>
                <li><a href="#">Day<br>19</a></li>
                <li><a href="#">Day<br>20</a></li>
                <li><a href="#">Day<br>21</a></li>
                <li><a href="#">Day<br>22</a></li>
                <li><a href="#">Day<br>23</a></li>
                <li><a href="#">Day<br>24</a></li>
                <li><a href="#">Day<br>25</a></li>
                <li><a href="#">Day<br>26</a></li>
                <li><a href="#">Day<br>27</a></li>
                <li><a href="#">Day<br>28</a></li>
                <li><a href="#">Day<br>29</a></li>
                <li><a href="#">Day<br>30</a></li> -->
            </ul>
        </div>
        <div class="description">
            <h3>{{ challenge['Title'] }}</h3>
            <p>{{ challenge['Content'] }}</p>
            {% if challenge['Media'] %}


                <iframe src="https://www.youtube.com/watch?v=S7jpMG5DS4Q">
                </iframe>
            {% endif %}

            <form action="../uploads/{{ challenge['id'] }}" method="POST" enctype="multipart/form-data">
                {% if picture %}
                    <img alt="picture of the day" src=".data/{{ picture }}">
                {% else %}
                    {% if challenge['id'] %}
                        <p>Upload your daily image</p>
                        <input type="file" name="file"><br/>
                        <input type="submit" name="upload" value="Upload"/>
                    {% endif %}
                {% endif %}

            </form>
        </div>

    </div>
</div>
</body>


</html>